{% extends 'blog/base.html' %}

    {% block head_title %} Post_list{% endblock %}

            {% block main_area%}


{% if user.is_authenticated %}
{% if user.is_supersuer or user.is_staff %}
<a class="btn btn-info btn-sm float-right" href="/blog/create_post/"role="button"><i class="fas fa-pen"></i>&nbsp;
&nbsp; New Post</a>

{% endif %}
{% endif %}




                <h1>Blog
                    {% if category %}
                <span class="badge badge-scondary">{{category}}</span>
                    {% endif %}
                    {% if tag %}
                <span class="badge badge-ligt"><i class="fas fa-tags">{{tag}}({{tag.post_set.count}})</i></span>
                    {% endif %}

                </h1>
                {% if post_list %}
                {% for p  in post_list %}

                <div class="card mb-4" id="post-{{p.pk}}">
                    {% if p.head_image %}
                    <a href="#!"><img class="card-img-top" src="{{p.head_image.url}}" alt="{{p}} head image"></a>
                    {% else %}
                    <a href="#!"><img class="card-img-top" src="https://picsum.photos/seed/{{p.id}}/800/200" alt="random_image"></a>


                    {% endif %}
                    <div class="card-body">
                        {% if p.category %}
                        <span class="badge  badge-secondary float-right">{{p.category}}</span>
                        {% else%}
                        <span class="badge  badge-secondary float-right">미분류</span>
                        {% endif %}

                        <div class="small text-muted">{{p.created_at}}</div>
                        <h2 class="card-title h4">title :{{p.title}}</h2>
                        {% if p.hook_text %}
                        <hr>

                        <h5>pay attention :{{p.hook_text}}</h5>
                        {%endif%}
                        {% if p.author %}
                        <hr>

                        <h5>작성자: {{p.author}}</h5>
                        {%endif%}
                        <hr>
                        <p class="card-text">{{p.get_content_markdown | truncatewords_html:45 | safe}}</p>
                        <a class="btn btn-primary" href="{{p.get_absolute_url}}">Read more →</a>


                                        {%if p.tags.exists%}
                {% for tag in p.tags.iterator %}
                <i class="fas fa-tags"></i>
                <a href="{{tag.get_absolute_url}}"><span class="badge badge-pill badge-light">{{tag}}</span></a>
                {%endfor%}

                <br/>

                <br/>
                {%endif%}

                    </div>
                </div>
                {% endfor %}

                {% else %}
                <h3>아직 게시물이 없습니다</h3>
                {% endif %}
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item">
                        <a class="page-link" href="#!">&larr; Older</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#!">Newr &rarr;</a>
                    </li>
                </ul>
            {% endblock %}



